<html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>Room Selection</title>
			<link rel="stylesheet" href="static/css/roomselection.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js" type="text/javascript"></script>
			<script src="static/js/socket.io.js"></script>
			<script type="module" src="static/js/roomSelection.js"></script>
		</head>
		<body>
			<h3>Hello <%=username%></h3>
			<br />
			<div id="topRow" class="cl1 cl2">
				<button id="room1" class="cl1 room">Room 1</button>
				<button id="room2" class="cl1 room">Room 2</button>
				<button id="room3" class="cl1 room">Room 3</button>
				<button id="room4" class="cl1 room">Room 4</button>
				<button id="room5" class="cl1 room">Room 5</button>
				<button id="room6" class="cl1 room">Room 6</button>
			</div>
			<br />
			<div id="bottomRow" class="cl1 cl2">
				<button id="room7" class="cl1 room">Room 7</button>
				<button id="room8" class="cl1 room">Room 8</button>
				<button id="room9" class="cl1 room">Room 9</button>
				<button id="room10" class="cl1 room">Room 10</button>
				<button id="room11" class="cl1 room">Room 11</button>
				<button id="room12" class="cl1 room">Room 12</button>
			</div>
		</body>
	</html>
</html>
