<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css"/>
  <title>Simple Canvas</title>
  <script src="/static/socket.io.js"></script>
  <script src="/static/main.js"></script>
</head>
<body>
  <div class="demo">
    <div id="draw">
      <canvas id="canvas"></canvas>
    </div>
    <div id="chat">
      <div id="message-container" class="txt"></div>
      <div class="marg">
        <input type="text" id="message-input" placeholder="Enter message here" >
        <button id="send-button">Send</button>
      </div>
    </div>
  </div>
</body>
</html>