<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/landing.css">
    <script src = "../static/js/landing.js"></script>
</head>
<body>
   <button class="glow-on-hover" type="button" id="login">Login</button></a>
</body>
</html>